<div class="wrapper ">
  <app-nav-menu [isSigned]="isSigned|async"></app-nav-menu>
  <div class="main-panel">
    <!-- Navbar -->
    <app-nav-log (isLog)="isLog($event)"></app-nav-log>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="row" *ngIf="isSigned|async">
          <router-outlet></router-outlet>
        </div>
        <div class="row" *ngIf="!(isSigned|async)">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Bonjour</h4>
            </div>
            <div class="card-body">
              <p class="title">Merci de vous connecter.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
